<li>
    {{name}}
    <button class = "change-devoured" data-id = "{{id}}" data-newdevoured = "{{isDevoured}}">
        {{#if devoured}}Eat the Burger.{{else}}Order it again.{{/if}}
    </button>
</li>